.button {
    text-align: center;
    align-items: center;
    width: auto;
     font-size: 20px;
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.button:hover {
     background-color: #b8cbd8; /* thoda dark blue */
  cursor: pointer;
}